<table id="snowflake">
    <tr>
        <td colspan="4"></td>
        <td colspan="2" class="t_inter">
            <input appDisableArrows id="iSN" type="number" class="i_stat" [(ngModel)]="sensibilitasNatura" (blur)="onInterChange('SN' ,$event)"/>
            <label for="iSN"></label>
        </td>
        <td colspan="2" class="t_virtus">
            <input appDisableArrows id="iSensibilitas" name="iSensibilitas" type="number" class="i_stat" [(ngModel)]="virtus.sensibilitas" (blur)="onVirtusChange('sensibilitas' ,$event)"/>
            <label for="iSensibilitas">Sensibilitas</label>
        </td>
        <td colspan="2" class="t_inter">
            <input appDisableArrows id="iSM" type="number" class="i_stat" [(ngModel)]="sensibilitasMagia" (blur)="onInterChange('SM' ,$event)"/>
            <label for="iSM"></label>
        </td>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td colspan="2" class="t_inter">
            <input appDisableArrows id="iCN" type="number" class="i_stat" [(ngModel)]="coordinatioNatura" (blur)="onInterChange('CN' ,$event)"/>
            <label for="iCN"></label>
        </td>
        <td colspan="2" class="t_peritia">{{this.natura}}<div class="t_peritia_label">De Natura</div></td>
        <td colspan="2"></td>
        <td colspan="2" class="t_peritia">{{this.magia}}<div class="t_peritia_label">De Magia</div></td>
        <td colspan="2" class="t_inter">
            <input appDisableArrows id="iIM" type="number" class="i_stat" [(ngModel)]="ingeniumMagia" (blur)="onInterChange('IM' ,$event)"/>
            <label for="iIM"></label>
        </td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2" class="t_inter">
            <input appDisableArrows id="iCC" type="number" class="i_stat" [(ngModel)]="coordinatioCorpore" (blur)="onInterChange('CC' ,$event)"/>
            <label for="iCC"></label>
        </td>
        <td colspan="2" class="t_virtus">
            <input appDisableArrows id="iCoordinatio" name="iCoordinatio" type="number" class="i_stat" [(ngModel)]="virtus.coordinatio" (blur)="onVirtusChange('coordinatio' ,$event)"/>
            <label for="iCoordinatio">Coordinatio</label>
        </td>
        <td colspan="3" class="t_bonus"><div class="t_left">{{selectedProvince.natura}}</div></td>
        <td colspan="3" class="t_bonus"><div class="t_right">{{selectedProvince.magia}}</div></td>
        <td colspan="2" class="t_virtus">
            <input appDisableArrows id="iIngenium" name="iIngenium" type="number" class="i_stat" [(ngModel)]="virtus.ingenium" (blur)="onVirtusChange('ingenium' ,$event)"/>
            <label for="iIngenium">Ingenium</label>
        </td>
        <td colspan="2" class="t_inter">
            <input appDisableArrows id="iISc" type="number" class="i_stat" [(ngModel)]="ingeniumScientia" (blur)="onInterChange('ISc' ,$event)"/>
            <label for="iISc"></label>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="t_peritia">{{this.corpore}}<div class="t_peritia_label">De Corpore</div></td>
        <td colspan="2" class="t_bonus"><div>{{selectedProvince.corpore}}</div></td>
        <td colspan="6">
            <label for="select_province"></label>
            <select id="select_province" (change)="onSelectProvince($event)">
                <option *ngIf="isDisabled" disabled>Select Province</option>
                <option *ngIf="!(isDisabled)">Select Province</option>
                <option *ngFor="let province of provinces" [ngValue]="province">{{province.name}}</option>
            </select>
        </td>
        <td colspan="2" class="t_bonus"><div>{{selectedProvince.scientia}}</div></td>
        <td colspan="2" class="t_peritia">{{this.scientia}}<div class="t_peritia_label">De Scientia</div></td>
    </tr>
    <tr>
        <td colspan="2" class="t_inter">
            <input appDisableArrows id="iVC" type="number" class="i_stat" [(ngModel)]="vigorCorpore" (blur)="onInterChange('VC' ,$event)"/>
            <label for="iVC"></label>
        </td>
        <td colspan="2" class="t_virtus">
            <input appDisableArrows id="iVigor" name="iVigor" type="number" class="i_stat" [(ngModel)]="virtus.vigor" (blur)="onVirtusChange('vigor' ,$event)"/>
            <label for="iVigor" class="t_small_virtus">Vigor</label>
        </td>
        <td colspan="3" class="t_bonus"><div class="t_left">{{selectedProvince.bello}}</div></td>
        <td colspan="3" class="t_bonus"><div class="t_right">{{selectedProvince.societate}}</div></td>
        <td colspan="2" class="t_virtus">
            <input appDisableArrows id="iRatio" name="iRatio" type="number" class="i_stat" [(ngModel)]="virtus.ratio" (blur)="onVirtusChange('ratio' ,$event)"/>
            <label for="iRatio" class="t_small_virtus">Ratio</label>
        </td>
        <td colspan="2" class="t_inter">
            <input appDisableArrows id="iRSc" type="number" class="i_stat" [(ngModel)]="ratioScientia" (blur)="onInterChange('RSc' ,$event)"/>
            <label for="iRSc"></label>
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td colspan="2" class="t_inter">
            <input appDisableArrows id="iVB" type="number" class="i_stat" [(ngModel)]="vigorBello" (blur)="onInterChange('VB' ,$event)"/>
            <label for="iVB"></label>
        </td>
        <td colspan="2" class="t_peritia">{{this.bello}}<div class="t_peritia_label">De Bello</div></td>
        <td colspan="2"></td>
        <td colspan="2" class="t_peritia">{{this.societate}}<div class="t_peritia_label">De Societate</div></td>
        <td colspan="2" class="t_inter">
            <input appDisableArrows id="iRSo" type="number" class="i_stat" [(ngModel)]="ratioSocietate" (blur)="onInterChange('RSo' ,$event)"/>
            <label for="iRSo"></label>
        </td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td colspan="2" class="t_inter">
            <input appDisableArrows id="iAB" type="number" class="i_stat" [(ngModel)]="auctoritasBello" (blur)="onInterChange('AB' ,$event)"/>
            <label for="iAB"></label>
        </td>
        <td colspan="2" class="t_virtus">
            <input appDisableArrows id="iAuctoritas" name="iAuctoritas" type="number" class="i_stat" [(ngModel)]="virtus.auctoritas" (blur)="onVirtusChange('auctoritas' ,$event)"/>
            <label for="iAuctoritas">Auctoritas</label>
        </td>
        <td colspan="2" class="t_inter">
            <input appDisableArrows id="iASo" type="number" class="i_stat" [(ngModel)]="auctoritasSocietate" (blur)="onInterChange('ASo' ,$event)"/>
            <label for="iASo"></label>
        </td>
        <td colspan="4"></td>
    </tr>
</table>
