<style>

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
        width="40"
        alt="Angular Logo"
        src="./assets/scutum.png"
    />
    <span>Milopolitan's Lex Arcana Helper</span>
    <div class="spacer"></div>
    <a aria-label="Find Lex Arcana Helper on GitHub" target="_blank" rel="noopener" href="https://github.com/Milobe115/lex-arcana-helper/" title="Lex Arcana Helper on Github">
        <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" fill="#fff"/>
        </svg>
    </a>
</div>

<div class="content" role="main">

    <table id="snowflake">
        <tr>
            <td colspan="4"></td>
            <td colspan="2" class="t_inter"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="sensibilitasNatura" (blur)="onInterChange('SN' ,$event)"/></td>
            <td colspan="2" class="t_virtus"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="sensibilitas" (blur)="onVirtusChange('sensibilitas' ,$event)"/><div class="t_virtus_label">Sensibilitas</div></td>
            <td colspan="2" class="t_inter"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="sensibilitasMagia" (blur)="onInterChange('SM' ,$event)"/></td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="2" class="t_inter"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="coordinatioNatura" (blur)="onInterChange('CN' ,$event)"/></td>
            <td colspan="2" class="t_peritia">{{this.natura}}<div class="t_peritia_label">De Natura</div></td>
            <td colspan="2"></td>
            <td colspan="2" class="t_peritia">{{this.magia}}<div class="t_peritia_label">De Magia</div></td>
            <td colspan="2" class="t_inter"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="ingeniumMagia" (blur)="onInterChange('IM' ,$event)"/></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="2" class="t_inter"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="coordinatioCorpore" (blur)="onInterChange('CC' ,$event)"/></td>
            <td colspan="2" class="t_virtus"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="coordinatio" (blur)="onVirtusChange('coordinatio' ,$event)"/><div class="t_virtus_label">Coordinatio</div></td>
            <td colspan="3" class="t_bonus"><div class="t_left">{{selectedProvince.natura}}</div></td>
            <td colspan="3" class="t_bonus"><div class="t_right">{{selectedProvince.magia}}</div></td>
            <td colspan="2" class="t_virtus"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="ingenium" (blur)="onVirtusChange('ingenium' ,$event)"/><div class="t_virtus_label">Ingenium</div></td>
            <td colspan="2" class="t_inter"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="ingeniumScientia" (blur)="onInterChange('ISc' ,$event)"/></td>
        </tr>
        <tr>
            <td colspan="2" class="t_peritia">{{this.corpore}}<div class="t_peritia_label">De Corpore</div></td>
            <td colspan="2" class="t_bonus"><div>{{selectedProvince.corpore}}</div></td>
            <td colspan="6" class="t_province"><select id="select_province" (change)="onSelectProvince($event)">
                <option *ngIf="isDisabled" disabled>Select Province</option>
                <option *ngIf="!(isDisabled)">Select Province</option>
                <option *ngFor="let province of provinces" [ngValue]="province">{{province.name}}</option>
            </select></td>
            <td colspan="2" class="t_bonus"><div>{{selectedProvince.scientia}}</div></td>
            <td colspan="2" class="t_peritia">{{this.scientia}}<div class="t_peritia_label">De Scientia</div></td>
        </tr>
        <tr>
            <td colspan="2" class="t_inter"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="vigorCorpore" (blur)="onInterChange('VC' ,$event)"/></td>
            <td colspan="2" class="t_virtus"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="vigor" (blur)="onVirtusChange('vigor' ,$event)"/><div class="t_virtus_label">Vigor</div></td>
            <td colspan="3" class="t_bonus"><div class="t_left">{{selectedProvince.bello}}</div></td>
            <td colspan="3" class="t_bonus"><div class="t_right">{{selectedProvince.societate}}</div></td>
            <td colspan="2" class="t_virtus"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="ratio" (blur)="onVirtusChange('ratio' ,$event)"/><div class="t_virtus_label">Ratio</div></td>
            <td colspan="2" class="t_inter"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="ratioScientia" (blur)="onInterChange('RSc' ,$event)"/></td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="2" class="t_inter"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="vigorBello" (blur)="onInterChange('VB' ,$event)"/></td>
            <td colspan="2" class="t_peritia">{{this.bello}}<div class="t_peritia_label">De Bello</div></td>
            <td colspan="2"></td>
            <td colspan="2" class="t_peritia">{{this.societate}}<div class="t_peritia_label">De Societate</div></td>
            <td colspan="2" class="t_inter"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="ratioSocietate" (blur)="onInterChange('RSo' ,$event)"/></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="4"></td>
            <td colspan="2" class="t_inter"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="auctoritasBello" (blur)="onInterChange('AB' ,$event)"/></td>
            <td colspan="2" class="t_virtus"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="auctoritas" (blur)="onVirtusChange('auctoritas' ,$event)"/><div class="t_virtus_label">Auctoritas</div></td>
            <td colspan="2" class="t_inter"><input appDisableArrows type="number" class="i_stat" [(ngModel)]="auctoritasSocietate" (blur)="onInterChange('ASo' ,$event)"/></td>
            <td colspan="4"></td>
        </tr>
    </table>

</div>
