@import url('https://fonts.googleapis.com/css2?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css2?family=Caveat');

#peritiae{
    border-spacing: 30px;
    font-size:24px;
    font-family: "Caveat", sans-serif;
}

#peritiae td {
    width: 75px;
    height: 75px;
    text-align: center;
}

.t_peritia{
    background-color:pink;
    border: 2px black solid;
    border-radius: 20px;
}
.t_virtus{
    background-color:orange;
    border:2px black solid
}
.t_inter{
    background-color:aquamarine;
    border:2px black solid;
    border-radius: 100%;
}
.t_province{
    background-color: lime;
}
.t_bonus{
    background-color: orchid;
    border: 1px black solid;
    border-radius: 100%;
    width:50px !important;
    height: 50px !important;
}
.t_wide{
    width: 75px !important;
}

#select_province{
    font-family: "Caveat", sans-serif;
    width: 80%;
    font-size:24px;
}

.i_stat{
    font-family: "Caveat", sans-serif;
    width: 35px;
    height:35px;
    font-size: 30px;
    -webkit-appearance: none;
    text-align: center;
    border: #1a472a 1px solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
